// .table > :not(caption) > * > * {
//   border: 2px solid gray;
// }
body {
  background: url(../images/back.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.welcom-menu {
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;

  .third-page {
    width: 100%;
  }
  .firstpage {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    p {
      .btn-first {
        margin-top: 35%;
      }
    }

    .link-warning {
      text-decoration: none;
      color: var(--bs-green);
      text-transform: uppercase;
      padding: 10px 20px;
      border-radius: 5px;
    }
    .wrapper-menu {
      display: none;
      // margin: 40% 40%;
      background-color: rgba($color: #dccfcf, $alpha: 0.8) !important;
      border-radius: 20px;
    }
  }
}
input.jury {
  width: 130px;
}
label {
  font-size: 22px;
  font-weight: 700;
  color: #000092;
  padding-bottom: 2.5%;
  margin-top: 8px;
}

.mx-auto {
  margin-top: 3%;
  padding-bottom: 3%;
}

table tr td,
table tr th {
  width: 100px;
  background-color: rgba($color: #aea4a4, $alpha: 0) !important;
}

.display-3 {
  color: #000092;
  text-transform: uppercase;
}

.total-point,
.total-rating {
  display: block;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 600;
  color: #000092;
  width: 50px;
}

tbody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  tr {
    td {
      width: 200px;
    }
  }
}
.wrapper-table {
  align-items: center;
  justify-content: center;
  visibility: hidden;
  background-color: rgba($color: #dccfcf, $alpha: 0.8) !important;
  border-radius: 20px;
  padding: 1% 1%;
}

.table-success {
  display: flex;
  flex-direction: column;
}

.pointinputs {
  width: 60px;
}

.row-bl {
  display: flex;
  justify-content: center;
  .empty-block {
    width: 185px;
  }
  th {
    width: 200px;
  }
}

.btn-danger {
  text-transform: uppercase;
}

select {
  padding: 20%;
}

.edit-width {
  margin: 0 auto;
  width: 30% !important;
}
