@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: url(../images/back.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.welcom-menu {
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}
.welcom-menu .third-page {
  width: 100%;
}
.welcom-menu .firstpage {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.welcom-menu .firstpage p .btn-first {
  margin-top: 35%;
}
.welcom-menu .firstpage .link-warning {
  text-decoration: none;
  color: var(--bs-green);
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 5px;
}
.welcom-menu .firstpage .wrapper-menu {
  display: none;
  background-color: rgba(220, 207, 207, 0.8) !important;
  border-radius: 20px;
}

input.jury {
  width: 130px;
}

label {
  font-size: 22px;
  font-weight: 700;
  color: #000092;
  padding-bottom: 2.5%;
  margin-top: 8px;
}

.mx-auto {
  margin-top: 3%;
  padding-bottom: 3%;
}

table tr td,
table tr th {
  width: 100px;
  background-color: rgba(174, 164, 164, 0) !important;
}

.display-3 {
  color: #000092;
  text-transform: uppercase;
}

.total-point,
.total-rating {
  display: block;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 600;
  color: #000092;
  width: 50px;
}

tbody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
tbody tr td {
  width: 200px;
}

.wrapper-table {
  align-items: center;
  justify-content: center;
  visibility: hidden;
  background-color: rgba(220, 207, 207, 0.8) !important;
  border-radius: 20px;
  padding: 1% 1%;
}

.table-success {
  display: flex;
  flex-direction: column;
}

.pointinputs {
  width: 60px;
}

.row-bl {
  display: flex;
  justify-content: center;
}
.row-bl .empty-block {
  width: 185px;
}
.row-bl th {
  width: 200px;
}

.btn-danger {
  text-transform: uppercase;
}

select {
  padding: 20%;
}

.edit-width {
  margin: 0 auto;
  width: 30% !important;
}/*# sourceMappingURL=style.css.map */